<!DOCTYPE HTML>

<html>
	{% extends "base.html" %}
	{% block content %}

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
						
							<section class="panel banner right">
								<div class="content color3-alt span-3-75" style="padding-left:1rem;padding-right:1rem;">
										
									<img src="/images/fundmomentsgif.gif" style="max-width:100%;"alt="" />
									<a href="#" class="button" style="width:50%;margin: 0 auto;">Create a Moment</a>

									<!--<h1 class="major">Create a Moment.</h1>
									<p><strong>FundMoments</strong> is a crowdfunding service dedicated to helping people make their treasured moment a reality. Take a quick browse and feel the gift of giving.</p>
									<ul class="contact-icons color1 actions">
											<li class="icon fa-twitter"><a href="#">@untitled-tld</a></li>
											<li class="icon fa-facebook"><a href="#">facebook.com/untitled</a></li>
											<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
											
									</ul>
									-->
									
								</div>
								<!--
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="images/pic01.jpg" alt="" />
								</div>
								-->
							</section>

						<!-- Panel (Spotlight) 
							<section class="panel color3-alt center">
									<div class="inner columns aligned">
										<div class="span-0-75">
											<h2 class="major">Featured</h2>
											<p>Categories</p>
											<ul class="actions">
												<li><a href="#" class="button special color2">Different</a></li>
												<li><a href="#" class="button special color2">Moment</a></li>
												<li><a href="#" class="button special color2">Categories</a></li>
												<li><a href="#" class="button special color2">Here</a></li>
												<li><a href="#" class="button special color2">When</a></li>
												<li><a href="#" class="button special color2">Its</a></li>
												<li><a href="#" class="button special color2">Final</a></li>
											</ul>
										</div>
									</div>
									
								
							</section>
							-->
							
							<section class="panel color3" id="first">
							<div class="inner columns aligned">
							
										<div class="span-1-75">
										

										<img src="images/gallery/fulls/fund1.png" style="max-width:100%;height:auto;box-shadow: 0.25re 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5); padding-top:0px;padding-bottom:2px;"alt="" />
										<img src="images/gallery/fulls/tape.png" class="imtip" style="max-width:100%;height:auto;box-shadow: 0.25re 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5);"alt="" />
																				
										<h3 class="major">Emergency Moment</h3>
										<strong >P10,550 of P25,000 Goal</strong>
													<p>This moment is an example moment meant to recreate what it would look like when data is taken from the server. This Moment, clickable in nature, will lead to a more detailed page.</p>
										
													<ul class="actions">
														<li><a href="#" class="button circle icon fa-diamond">Icon</a></li>
														<li><a href="detail.html" class="button special">Details..</a></li>
													</ul>
													<h4>Share</h4>
													<ul class="icons">
														<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
														<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
														<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
														<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
														<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
													</ul>
			

										</div>
								</div>
								
							</section>
							
							<section class="panel color3" id="first">
							<div class="inner columns aligned">
							
										<div class="span-1-75">
										

										<img src="images/gallery/fulls/fund2.png" style="max-width:100%;height:auto;box-shadow: 0.25re 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5); padding-top:0px;padding-bottom:2px;"alt="" />
										<img src="images/gallery/fulls/tape.png" class="imtip" style="max-width:100%;height:auto;box-shadow: 0.25re 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5);"alt="" />
																				
										<h3 class="major">Another moment for here</h3>
										<strong >P10,550 of P25,000 Goal</strong>
													<p>This moment is an example moment meant to recreate what it would look like when data is taken from the server. This Moment, clickable in nature, will lead to a more detailed page.</p>
										
													<ul class="actions">
														<li><a href="#" class="button circle icon fa-diamond">Icon</a></li>
														<li><a href="#" class="button">Details..</a></li>
													</ul>
													<h4>Share</h4>
													<ul class="icons">
														<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
														<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
														<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
														<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
														<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
													</ul>
			

										</div>
								</div>
								
							</section>
							
							<section class="panel color3" id="first">
							<div class="inner columns aligned">
							
										<div class="span-1-75">
										

										<img src="images/gallery/fulls/fund3.png" style="max-width:100%;height:auto;box-shadow: 0.25re 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5); padding-top:0px;padding-bottom:2px;"alt="" />
										<img src="images/gallery/fulls/tape.png" class="imtip" style="max-width:100%;height:auto;box-shadow: 0.25re 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5);"alt="" />
																				
										<h3 class="major">Transport Moment</h3>
										<strong >P10,550 of P25,000 Goal</strong>
													<p>This moment is an example moment meant to recreate what it would look like when data is taken from the server. This Moment, clickable in nature, will lead to a more detailed page.</p>
										
													<ul class="actions">
														<li><a href="#" class="button circle icon fa-diamond">Icon</a></li>
														<li><a href="#" class="button ">Details..</a></li>
													</ul>
													<h4>Share</h4>
													<ul class="icons">
														<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
														<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
														<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
														<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
														<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
													</ul>
			

										</div>
								</div>
								
							</section>
							
							<section class="panel color3-alt">
								<div class="intro" style="padding: 5 5 5 5;width:7rem;">
									<a href="#first" class="button special color2 circle icon fa-cog">Icon</a>
								</div>
							</section>

						<!-- Panel -->
						

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/main.js"></script>
			{% endblock %}
